body {
    background-color: #F4B183;
}
h1 {
    color: #0066FF;
    font-size: 80px;
    font-family: Bradley Hand ITC;
    text-align: center;
    font-weight: 900;
}
 h3{
    color: #0066FF;
    font-size: 36px;
    font-family: Bradley Hand ITC;
    text-align:center;
    font-weight: 900;
}
img{
    width:100%;
    heigth:100%;
}
table{
    text-align:center;
}
#tab{
    background-color: #ffffff;
}
#tabella{
    padding-top:5%;
}
#invia {
    align-content: center;
}
#red {
    color: #0066FF;
    text-align:center;
}
